.all {
  width: 280px;
  padding-top: 27px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

}

.all .st0 {
  fill: #f2f2f2;
}

.all span {
  margin-bottom: 25px;
}
.all__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 11px;
}

.all__details {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 22px;
}

.all__btn {
  background-color: @bg-block;
  color: @font;
  font-size: 16px;
  line-height: 20px;
  padding-top: 13px;
  padding-bottom: 12px;
  border: none;
}

@media (min-width: @tablet-width) {

  .all {
    position: relative;
    width: 324px;
    padding: 0;
    margin: 0;
    padding-top: 55px;
    padding-bottom: 40px;
    border: 1px solid #f2f2f2;
    margin: 0 auto;
    align-items: center;

    & svg {
      display: none;
    }

    & span::before {
      position: absolute;
      content: "";
      width: 61px;
      height: 1px;
      top: 68px;
      left: 131px;
      background-color: #f2f2f2;
    }

    & span::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 61px;
      top: 39px;
      left: 161px;
      background-color: #f2f2f2;
    }

  }

  .all__title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 37px;
    margin-top: 80px;
    width: 146px;
  }

  .all__details {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 78px;
    width: 165px;
  }

  .all__btn {
    width: 249px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .all {
    width: 245px;

    & span::before {
      top: 68px;
      left: 95px;
    }

    & span::after {
      top: 39px;
      left: 127px;
    }
  }

  .all__title {
    margin-bottom: 37px;
    margin-top: 80px;
  }

  .all__details {
    width: 170px;
    margin-bottom: 93px;
  }

  .all__btn {
    width: 169px;
  }
}
