@mainFont-color: #111111;
@formFont-color: #222222;
@PplaceholderFont-color: #444444;
@contrastFont-color: #ffffff;
@general-color: #68b738;
@block-color: #f2f2f2;

.item {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details__container {
  display: flex;
  justify-content: space-between;
}

