.content {
  display: flex;
  flex-direction: column;
  background-color: @general-color;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: @bg-color;
  text-align: center;
  align-items: center;
  height: 305px;
  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 316px auto;
  }

}

.content__title {
  width: 260px;
  margin-top: 29px;
  color: #ffffff;
}

.content__discription {
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 19px;
  font-size: 14px;
  line-height: 14px;
}

.content__btn {
  min-width: 87%;
  padding-top: 14px;
  padding-bottom: 11px;

  &--general {
    display: none;
  }
}

.content__picture img {
  margin-top: 29px;
  width: 280px;
  height: 270px;
}


@media (min-width: @tablet-width) {
  .content {
    background: none;
    max-width: 1091px;
    width: 92%;
    height: 940px;
    margin: 0 auto;
    text-align: left;
    align-items: flex-start;
  }

  .content__wrapper {
    padding-left: 120px;
  }


  .content__title {
    width: 419px;
    color: @font-title;
    font-size: 60px;
    line-height: 60px;
  }

  .content__discription {
    margin-top: 33px;
    font-size: 20px;
    line-height: 20px;
    color: @font-title;
  }

  .content__btn {
    min-width: unset;
    width: 245px;
    margin-top: 48px;
    padding-top: 14px;
    padding-bottom: 11px;
    text-align: center;

    &--general {
      display: inline-block;
    }

    &--mobile {
      display: none;
    }
  }

  .content__picture img {
    width: 709px;
    height: 609px;
    align-self: center;
  }

}


@media (min-width: @desktop-width) {
  .content {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1440px;
    width: 100%;
    margin: 0;
    height: 696px;
    padding: 0;
    top: -118px;
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }

  }

  .content__container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 left;
    padding-left: 185px;
    padding-top: 142px;
  }

  .content__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 380px;
  }

  .content__picture img {
    margin-top: 0;
    width: 552px;
    height: 499px;
    align-self: center;
  }

  .content__btn {
    margin-top: 53px;
    padding-top: 17px;
    padding-bottom: 15px;
    text-align: center;
  }

}



