@general-color: #68b738;

.descrption {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*padding*/
  }

.description__points {
  position: relative;
  margin-bottom: 20px;
}

.points {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: @general-color;
  background-repeat: no-repeat;
  background-position: center;
}

.points__img--leaf {
  position: absolute;
  top: 35%;
  left: 33%;
  width: 26px;
  height: 29px;
  background-image: url(../img/advantage-powder@1x.png);
}

.points__img--leaf {
  position: absolute;
  top: 35%;
  left: 33%;
  width: 26px;
  height: 29px;
  background-image: url(../img/advantage-dining@1x.png);
}

.points__img--leaf {
  position: absolute;
  top: 35%;
  left: 33%;
  width: 26px;
  height: 29px;
  background-image: url(../img/advantage-clock@1x.png);
}

.points__text {
  margin-left: 80px;
}





