.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 87%;
  max-width: 1091px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.description h1 {
  margin-bottom: 31px;
}

.description__points {
  padding-left: 80px;
  margin-bottom: 20px;
  height: 60px;
  position: relative;

  &:last-child {
    margin: 0;
  }
}

.points__img {
  width: 60px;
  height: 60px;
  background-color: @general-color;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    position: absolute;
    content: "";
    width:50px;
    height: 44px;
    top:6px;
    left:6px;
  }

  &--leaf::before {
    background-image: url(../img/advantage-leaf@1x.png);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--powder::before {
    background-image: url(../img/advantage-powder@1x.png);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }

  }

  &--appliances::before {
    background-image: url(../img/advantage-dining@1x.png);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }

  }

  &--time::before {
    background-image: url(../img/advantage-clock@1x.png);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }

  }

}

@media (min-width: @tablet-width) {
  .description {
    width: 92%;
  }

  .description__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .description h1 {
    margin-bottom: 130px;
    font-size: 60px;
    line-height: 60px;
  }

  .description__points {
    width: 35%;
    padding-left: 0;
    padding-top: 119px;
    margin: 0;
    position: relative;
    padding-bottom: 89px;

    &:nth-child(odd) {
      margin-right: 20%;
    }

    &:before {
      position: absolute;
      content: "1";
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -41px;
      right: -2px;
      z-index: -1;
    }

    &--one:before {
      content: "1";
    }

    &--two:before {
      content: "2";
    }

    &--three:before {
      content: "3";
    }

    &--four:before {
      content: "4";
    }

  }

  .points__img {
    width: 80px;
    height: 80px;

    &::before {
      top: 15px;
      left: 15px;
    }
  }

  .points__text {
    font-size: 16px;
    line-height: 24px;
  }

}

@media (min-width: @desktop-width) {
  .description {
    width: 84%;
    margin-bottom: 0;
  }

  .description__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .points__img {
    top: -53px;
  }

  .description__points {
    width: 20%;
    padding-left: 0;
    padding-top: 63px;
    margin: 0;
    position: relative;
    padding-bottom: 89px;

    &:nth-child(odd) {
      margin: 0;
    }

    &:before {
      top: -89px;
      right: -21px;
    }

    &--one:before {
      content: "1";
    }

    &--two:before {
      content: "2";
    }

    &--three:before {
      content: "3";
    }

    &--four:before {
      content: "4";
    }

  }
}

