@block-color: #f2f2f2;
@mainFont-color: #111111;

.example {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @block-color;
}

.example__title {
  margin-bottom: 33px;
  text-align: left;
}

.example__description {
  margin-bottom: 27px;
  text-align: left;
}

.example__data {
  display: flex;
  justify-content: space-between;
}

.data__kg,
.data__date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__cost {
  color: @mainFont-color;
}

.before-after__variant {
  color: @mainFont-color;
}

.before-after__container {
  display: flex;
  justify-content: space-between;
}
