.extra {
  width: 87%;
  padding-top: 28px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.extra .title::before {
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  background-color: @general-color;
  top: 14px;
  right: -8%;
}

.extra__promo {
  margin-top: 37px;
  margin-bottom: 2px;
}


@media (min-width: @tablet-width) {

  .extra {
    width: 100%;
    padding: 0;
    padding-top: 91px;
    position: relative;
    border-top: 3px solid @general-color;
    margin-top: 75px;

    & .title {
    font-size: 34px;
    line-height: 42px;
    padding: 0;
    padding-left: 39px;
    padding-right: 31px;
    top: -28px;
    left: 29px;
    }
  }

  .extra__container {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    padding-top: 91px;
    margin-top: 83px;

    & .title {
      left: 70px;
    }
  }

  .extra__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 86px;
  }
}


