@mainFont-color: #111111;
@formFont-color: #222222;
@PplaceholderFont-color: #444444;
@contrastFont-color: #ffffff;
@general-color: #68b738;
@block-color: #f2f2f2;


.extra__container {
  display: flex;
  flex-direction: column;
}

.extra__promo {
  position: relative;
  background-image: url(../img/gift-photo-mobile@1x.jpg) ;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: @general-color;
  width: 280px;
  height: 289px;

}

.extra__promo span{
  position: absolute;
  width: 56px;
  height: 61px;
  left: 114px;
  top: 25px;
  fill: @contrastFont-color;
}

.extra__promo p {
  color: @contrastFont-color;
}

