.form {
  box-sizing: border-box;
}

.form__wrapper {
  width: 87%;
  margin: 0 auto;
}

.form__title {
  margin-top: 30px;
  margin-bottom: 35px;
}

.form__instruction {
  font-family: "Oswald";
  width: 80%;
  text-transform: uppercase;
  color: @font-title;
  line-height: 18px;
  margin-bottom: 39px;
  font-weight: bold;
}

.form__basick-info {
  width: 100%;
  margin: 0 auto;
}

.form__body-btn {
  border: none;
  width: 87%;
  margin: 0 auto;
  padding: 13px 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 23px;
}

.form__body-description {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 34px;
}

@media (min-width: @tablet-width) {

  .form__wrapper {
    width: 87%;

    &--tablet {
      width: 92%;
    }
  }

  .form__title {
    margin-top: 70px;
    margin-bottom: 53px;
    font-size: 60px;
    line-height: 60px;
  }

  .form__instruction {
    width: 49%;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 69px;
  }

  .form__basick-info {
    width: 100%;
  }

  .form__body-footer {
    display: flex;
    width: 631px;
    margin: 0 auto;
    margin-bottom: 73px;
    align-items: center;
  }

  .form__body-btn {
    width: 283px;
    padding: 15px 0;
    font-size: 20px;
    margin: 0;
  }

  .form__body-description {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin: 0;
    margin-left: 61px;
  }

}

@media (min-width: @desktop-width) {

  .form__container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
  }

  .form__wrapper {
    margin: 0;
  }

  .form__title {
    width: 1220px;
    margin: 0 auto;
    margin-top: 86px;
    margin-bottom: 53px;
  }

  .form__instruction {
    margin-left: 110px;
  }

  .form__container {
    flex-direction: row;
  }

  .form__body-footer {
    width: 1220px;
  }

  .form__body-btn {
    width: 568px;
  }

  .form__body-description {
    margin-left: 82px;
  }

}
