.goal {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 22px;
}

.goal__check {
  margin-bottom: 27px;
  position: relative;

  &:last-child {
    margin: 0;
  }

  & label {
    padding-left: 46px;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      left: 0;
      top: -5px;
    }
  }

  & input:checked + label::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid @general-color;
    border-radius: 50%;
    background-color: @general-color;
    top: 5px;
    left: 8px;
  }

}

.goal__check input[type='checkbox'] {
  display: none;
}

@media (min-width: @tablet-width) {
  .goal {
    border: 1px solid #cdcdcd;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
  }

  .goal__check {
    margin-bottom: 35px;

    & label {
      padding-left: 61px;
      font-size: 20px;
      line-height: 20px;

      &::before {
        width: 40px;
        height: 40px;
        left: 0;
        top: -5px;
      }
    }

    & input:checked + label::before {
      width: 18px;
      height: 18px;
      top: 5px;
      left: 12px;
    }

  }
}
