.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo img {
  width: 191px;
  height: 39px;
}

@media (min-width: @tablet-width) {

  .logo img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {

  .logo img {
    width: 203px;
    height: 60px;
  }
}
