.point {
  order: -1;
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  padding-top: 31px;
  padding-bottom: 26px;
}

.point__title {
  font-size: 16px;
  line-height: 20px;
}

.point p {
  width: 209px;
}

@media (min-width: @tablet-width) {

  .point {
    width: 625px;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .point__title {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .point p {
    width: 172px;
    height: 76px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {

  .point {
    position: absolute;
    width: 570px;
    padding: 0;
    padding-top: 66px;
    padding-bottom: 59px;
    top: 101px;
    left: 101px;
    z-index: 1;
    background-color: @bg-color;
  }

}
