.promo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  height: 289px;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-position: center;
  margin-top: 39px;
  align-items: center;
  color: @bg-color;
  line-height: 20px;
  text-align: center;

  span {
    fill: @bg-color;
    margin-top: 65px;
  }
}

.promo__description {
  margin-top: 64px;
  width: 159px;
}

@media (min-width: @tablet-width) {
  .promo {
    flex-direction: row;
    margin: 0 auto;
    width: 708px;
    height: 200px;
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    background-position: center;
    margin-top: 69px;
    margin-bottom: 76px;
    text-align: left;

    span {
      margin: 0;
    }

  }

  .promo__wrapper {
    display: flex;
    justify-content: space-between;
    width: 492px;
    margin: 0 auto;
  }

  .promo__description {
    margin: 0;
    width: 165px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    flex-direction: column;
    width: 245px;
    height: 289px;
    background-image: url(../img/gift-photo-desktop@1x.jpg);
    margin: 0;
    text-align: center;
    justify-content: center;

  }

  .promo__wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 159px;
    margin: 0;
  }

  .promo__description {
    width: 160px;
    margin-top: 61px;

  }
}


