.site-list {
  font-weight: bold;
}

.site-list__item {
  border-top: solid 1px #f2f2f2;
}

.site-list a {
  display: block;
  padding-top: 24px;
  padding-bottom: 20px;

  font-size: 20px;
  line-height: 20px;
  color: @font-title;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list a[href] {
  &:hover {
    color: rgba(17, 17, 17, 0.6)
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }

  .site-list__item {
    border-top: none;
  }


  .site-list a {
    display: block;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
  }

  .site-list__item--active {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -9px;
      left: 0;
      height: 2px;
      background: @general-color;
    }
  }
}

@media (min-width: @desktop-width) {

  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .site-list a {
    display: block;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .menu__list--background a {
    color: @bg-color;

    &[href] {
      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .site-list__item--active {
    position: relative;

    &::after {
      bottom: -13px;
    }
  }

  .menu__list--background .site-list__item--active {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -12px;
      left: 0;

      height: 2px;

      background: @bg-color;
    }
  }
}
