.wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {

  .wrapper {
    width: 708px;
  }

  .form__wrapper--tablet {
    width: 85%;
  }

  .content__container--tablet {
    width: 532px;
    margin: 0 auto;
  }

  .footer__wrapper--tablet {
    width: 92%;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1220px;
  }

  .form__wrapper--tablet {
    width: 1010px;
  }

}
